In [334]:
library('tidyverse')
library('reshape2')
library('dplyr')

In [335]:
# READ THE DATA
df <- read.csv("../data/accounts.csv")

# RENAME THE ID COLUMN
df <- df %>% rename(account_id = id)
df <- df %>% rename(open_date = date)

In [336]:
# REMOVE SPACES FROM COLUMN NAMES
colnames(df) <- gsub(" ", "", colnames(df))

# COUNT THE NUMBER OF MISSING VALUES IN EACH COLUMN; none
missing_values_num <- colSums(is.na(df))

In [337]:
# TYPE CAST THE MATRIX TO DATA FRAME
df <- as.data.frame(df)

In [338]:
# TYPE CAST THE DATE COLUMN
df$open_date <- as.Date(df$open_date, format = "%m/%d/%y")

In [339]:
# LOAD DISTRCICT DATA, MERGE TO THE MAIN DATA AND CHANGE THE COLUMN NAME
district_df <- read.csv("./districts_r.csv")
df <- left_join(df, district_df, by = "district_id")
df

     account_id district_id open_date  statement_frequency name
1     1         18          1995-03-24 monthly             Pisek
2     2          1          1993-02-26 monthly             Hl.m. Praha
3     3          5          1997-07-07 monthly             Kolin
4     4         12          1996-02-21 monthly             Pribram
5     5         15          1997-05-30 monthly             Cesky Krumlov
6     6         51          1994-09-27 monthly             Trutnov
7     7         60          1996-11-24 monthly             Prostejov
8     8         57          1995-09-21 monthly             Hodonin
9     9         70          1993-01-27 monthly             Karvina
10   10         54          1996-08-28 monthly             Brno - mesto
11   11         76          1995-10-10 monthly             Sumperk
12   12         21          1997-04-15 monthly             Tabor
13   13         76          1997-08-17 monthly             Sumperk
14   14         47          1996-11-27 monthly             Pardubice
15   15         70          1993-10-02 monthly             Karvina
16   16         12          1997-09-23 monthly             Pribram
17   17          1          1997-01-08 monthly             Hl.m. Praha
18   19         21          1995-04-07 monthly             Tabor
19   20         74          1996-08-24 monthly             Ostrava - mesto
20   21         54          1997-12-06 monthly             Brno - mesto
21   22          1          1994-03-23 monthly             Hl.m. Praha
22   23         30          1993-05-22 monthly             Sokolov
23   24         74          1996-12-05 monthly             Ostrava - mesto
24   25         68          1996-07-28 monthly             Frydek - Mistek
25   26         52          1993-08-08 monthly             Usti nad Orlici
26   27         73          1993-09-26 monthly             Opava
27   29          7          1994-11-24 monthly             Melnik
28   30         36          1995-03-04 monthly             Liberec
29   31         68          1994-04-27 monthly             Frydek - Mistek
30   32          5          1995-08-28 monthly             Kolin
...  ...        ...         ...        ...                 ...
4471  8132       5          1993-04-17 weekly              Kolin
4472  8158      48          1996-06-16 weekly              Rychnov nad Kneznou
4473  8327       1          1995-08-08 weekly              Hl.m. Praha
4474  8547      14          1995-07-17 weekly              Ceske Budejovice
4475  8899       1          1994-09-05 weekly              Hl.m. Praha
4476  8931      63          1996-01-01 weekly              Vyskov
4477  9006      40          1994-09-02 weekly              Teplice
4478  9051       5          1996-01-17 weekly              Kolin
4479  9403       1          1993-03-27 weekly              Hl.m. Praha
4480  9472       1          1993-07-06 weekly              Hl.m. Praha
4481  9491       7          1996-08-08 weekly              Melnik
4482  9583      31          1994-05-22 weekly              Tachov
4483  9646       1          1996-07-30 weekly              Hl.m. Praha
4484  9814      64          1995-01-19 weekly              Zlin
4485 10063       4          1996-10-13 weekly              Kladno
4486 10093       1          1994-07-01 weekly              Hl.m. Praha
4487 10478      70          1996-02-24 weekly              Karvina
4488 10694      73          1996-05-15 weekly              Opava
4489 10738      45          1993-04-17 weekly              Jicin
4490 10788      67          1993-11-22 weekly              Bruntal
4491 10911       1          1993-05-29 weekly              Hl.m. Praha
4492 10915      25          1997-02-15 weekly              Klatovy
4493 10942      44          1994-06-05 weekly              Chrudim
4494 10973      18          1993-04-20 weekly              Pisek
4495 11013       1          1993-02-14 weekly              Hl.m. Praha
4496 11027      32          1996-07-26 weekly              Ceska Lipa
4497 11054      59          1996-02-01 weekly              Kromeriz
4498 11138      70          1995-08-18 weekly              Karvina
4499 11141       1          1997-02-11 weekly              Hl.m. Praha
4500 11349       1          1995-05-26 weekly              Hl.m. Praha
     region          population num_cities urban_ratio avg_salary
1    south Bohemia     70699     4          65.3        8968
2    Prague          1204953     1         100.0       12541
3    central Bohemia   95616     6          51.4        9307
4    central Bohemia  107870     6          58.0        8754
5    south Bohemia     58796     5          51.9        9045
6    east Bohemia     121947    11          70.5        8541
7    south Moravia    110643     4          51.9        8441
8    south Moravia    161954     8          48.0        8720
9    north Moravia    285387     7          89.9       10177
10   south Moravia    387570     1         100.0        9897
11   north Moravia    127369     7          51.2        8369
12   south Bohemia    103347     7          67.0        9104
13   north Moravia    127369     7          51.2        8369
14   east Bohemia     162580     6          72.8        9538
15   north Moravia    285387     7          89.9       10177
16   central Bohemia  107870     6          58.0        8754
17   Prague          1204953     1         100.0       12541
18   south Bohemia    103347     7          67.0        9104
19   north Moravia    323870     1         100.0       10673
20   south Moravia    387570     1         100.0        9897
21   Prague          1204953     1         100.0       12541
22   west Bohemia      94812    10          81.8        9650
23   north Moravia    323870     1         100.0       10673
24   north Moravia    228848     6          57.2        9893
25   east Bohemia     139012    10          61.9        8363
26   north Moravia    182027     7          56.4        8746
27   central Bohemia   94725     6          63.4        9920
28   north Bohemia    159617     9          85.2        9198
29   north Moravia    228848     6          57.2        9893
30   central Bohemia   95616     6          51.4        9307
...  ...             ...        ...        ...         ...
4471 central Bohemia   95616     6          51.4        9307
4472 east Bohemia      78955     9          59.0        9060
4473 Prague          1204953     1         100.0       12541
4474 south Bohemia    177686     9          74.8       10045
4475 Prague          1204953     1         100.0       12541
4476 south Moravia     86513     5          50.5        8288
4477 north Bohemia    128118     8          85.3        9317
4478 central Bohemia   95616     6          51.4        9307
4479 Prague          1204953     1         100.0       12541
4480 Prague          1204953     1         100.0       12541
4481 central Bohemia   94725     6          63.4        9920
4482 west Bohemia      51313     4          59.2        8930
4483 Prague          1204953     1         100.0       12541
4484 south Moravia    197099    10          74.7        9624
4485 central Bohemia  149893     6          67.4        9753
4486 Prague          1204953     1         100.0       12541
4487 north Moravia    285387     7          89.9       10177
4488 north Moravia    182027     7          56.4        8746
4489 east Bohemia      77917     5          53.5        8390
4490 north Moravia    106054     6          63.1        8110
4491 Prague          1204953     1         100.0       12541
4492 west Bohemia      88757    10          61.7        8554
4493 east Bohemia     105606     7          53.0        8254
4494 south Bohemia     70699     4          65.3        8968
4495 Prague          1204953     1         100.0       12541
4496 north Bohemia    105058    10          81.0        9272
4497 south Moravia    108871     6          62.1        8444
4498 north Moravia    285387     7          89.9       10177
4499 Prague          1204953     1         100.0       12541
4500 Prague          1204953     1         100.0       12541
     entrepreneur_1000 pop_500 pop_500_1999 pop_2000_9999 pop_10000
1    131               60      13            2            1
2    167                0       0            0            1
3    118               65      30            4            1
4    137               84      29            6            1
5    124               22      16            7            1
6    131               37      28            7            3
7    115               49      41            4            1
8    116               21      37           20            3
9     81                0       2            8            5
10   140                0       0            0            1
11   107               31      32           13            2
12   123               87      16            7            1
13   107               31      32           13            2
14   111               83      26            5            1
15    81                0       2            8            5
16   137               84      29            6            1
17   167                0       0            0            1
18   123               87      16            7            1
19   100                0       0            0            1
20   140                0       0            0            1
21   167                0       0            0            1
22   100               15      13            8            2
23   100                0       0            0            1
24    96               15      40           18            2
25   108               59      41            8            3
26    90               17      49           12            2
27   130               38      28            1            3
28   131               29      19            8            1
29    96               15      40           18            2
30   118               65      30            4            1
...  ...               ...     ...          ...           ...
4471 118               65      30            4            1
4472 124               50      24            8            1
4473 167                0       0            0            1
4474 135               69      27           10            1
4475 167                0       0            0            1
4476 110               38      36            5            1
4477  97                9      16            6            3
4478 118               65      30            4            1
4479 167                0       0            0            1
4480 167                0       0            0            1
4481 130               38      28            1            3
4482 108               34      12            3            1
4483 167                0       0            0            1
4484 145               29      41           10            2
4485 109               63      29            6            2
4486 167                0       0            0            1
4487  81                0       2            8            5
4488  90               17      49           12            2
4489 132               85      19            6            1
4490 109               38      25            6            2
4491 167                0       0            0            1
4492 113               60      33            3            2
4493  97               77      26            7            2
4494 131               60      13            2            1
4495 167                0       0            0            1
4496 118               32      19            7            2
4497 106               41      29            7            2
4498  81                0       2            8            5
4499 167                0       0            0            1
4500 167                0       0            0            1
     unemployment_rate_95 unemployment_rate_96 commited_crimes_95
1    2.8                  3.35                  1740
2    0.2                  0.43                 85677
3    3.8                  4.43                  2616
4    3.8                  4.31                  3804
5    3.1                  3.60                  1845
6    2.5                  2.97                  3496
7    3.4                  4.48                  1879
8    3.7                  4.50                  3729
9    6.6                  7.75                  9878
10   1.6                  1.96                 18721
11   4.7                  5.88                  3736
12   1.5                  2.07                  2299
13   4.7                  5.88                  3736
14   1.5                  1.81                  6079
15   6.6                  7.75                  9878
16   3.8                  4.31                  3804
17   0.2                  0.43                 85677
18   1.5                  2.07                  2299
19   4.7                  5.44                 18782
20   1.6                  1.96                 18721
21   0.2                  0.43                 85677
22   3.3                  3.67                  2985
23   4.7                  5.44                 18782
24   4.0                  4.72                  5623
25   2.5                  3.49                  2564
26   3.3                  3.74                  4355
27   2.2                  2.87                  4289
28   3.3                  4.28                  5796
29   4.0                  4.72                  5623
30   3.8                  4.43                  2616
...  ...                  ...                  ...
4471 3.8                  4.43                  2616
4472 1.7                  2.44                  1655
4473 0.2                  0.43                 85677
4474 1.4                  1.71                  6604
4475 0.2                  0.43                 85677
4476 3.7                  4.52                  1562
4477 6.4                  7.07                  6949
4478 3.8                  4.43                  2616
4479 0.2                  0.43                 85677
4480 0.2                  0.43                 85677
4481 2.2                  2.87                  4289
4482 3.5                  4.20                  1328
4483 0.2                  0.43                 85677
4484 1.6                  2.31                  4484
4485 4.6                  5.05                  5244
4486 0.2                  0.43                 85677
4487 6.6                  7.75                  9878
4488 3.3                  3.74                  4355
4489 2.2                  2.89                  2080
4490 5.7                  6.55                  3244
4491 0.2                  0.43                 85677
4492 2.4                  2.68                  1822
4493 2.7                  3.76                  2166
4494 2.8                  3.35                  1740
4495 0.2                  0.43                 85677
4496 2.8                  3.22                  4340
4497 3.2                  3.47                  2595
4498 6.6                  7.75                  9878
4499 0.2                  0.43                 85677
4500 0.2                  0.43                 85677
     commited_crimes_96
1     1910
2    99107
3     3040
4     3868
5     1879
6     3839
7     2252
8     3651
9    10108
10   18696
11    2807
12    2354
13    2807
14    5410
15   10108
16    3868
17   99107
18    2354
19   18347
20   18696
21   99107
22    2804
23   18347
24    5887
25    2799
26    4433
27    4846
28    6132
29    5887
30    3040
...  ...
4471  3040
4472  1717
4473 99107
4474  6295
4475 99107
4476  1460
4477  6872
4478  3040
4479 99107
4480 99107
4481  4846
4482  1452
4483 99107
4484  4265
4485  5892
4486 99107
4487 10108
4488  4433
4489  2122
4490  3079
4491 99107
4492  2218
4493  2325
4494  1910
4495 99107
4496  4505
4497  2305
4498 10108
4499 99107
4500 99107

In [340]:
# CHANGE THE COLUMN FROM DISTRICT_ID TO DISTRICT_NAME
df$district_id <- df$name
df <- df %>% rename(district_name = district_id)
df <- df[,c("account_id", "district_name", "open_date", "statement_frequency")]
df

     account_id district_name       open_date  statement_frequency
1     1         Pisek               1995-03-24 monthly
2     2         Hl.m. Praha         1993-02-26 monthly
3     3         Kolin               1997-07-07 monthly
4     4         Pribram             1996-02-21 monthly
5     5         Cesky Krumlov       1997-05-30 monthly
6     6         Trutnov             1994-09-27 monthly
7     7         Prostejov           1996-11-24 monthly
8     8         Hodonin             1995-09-21 monthly
9     9         Karvina             1993-01-27 monthly
10   10         Brno - mesto        1996-08-28 monthly
11   11         Sumperk             1995-10-10 monthly
12   12         Tabor               1997-04-15 monthly
13   13         Sumperk             1997-08-17 monthly
14   14         Pardubice           1996-11-27 monthly
15   15         Karvina             1993-10-02 monthly
16   16         Pribram             1997-09-23 monthly
17   17         Hl.m. Praha         1997-01-08 monthly
18   19         Tabor               1995-04-07 monthly
19   20         Ostrava - mesto     1996-08-24 monthly
20   21         Brno - mesto        1997-12-06 monthly
21   22         Hl.m. Praha         1994-03-23 monthly
22   23         Sokolov             1993-05-22 monthly
23   24         Ostrava - mesto     1996-12-05 monthly
24   25         Frydek - Mistek     1996-07-28 monthly
25   26         Usti nad Orlici     1993-08-08 monthly
26   27         Opava               1993-09-26 monthly
27   29         Melnik              1994-11-24 monthly
28   30         Liberec             1995-03-04 monthly
29   31         Frydek - Mistek     1994-04-27 monthly
30   32         Kolin               1995-08-28 monthly
...  ...        ...                 ...        ...
4471  8132      Kolin               1993-04-17 weekly
4472  8158      Rychnov nad Kneznou 1996-06-16 weekly
4473  8327      Hl.m. Praha         1995-08-08 weekly
4474  8547      Ceske Budejovice    1995-07-17 weekly
4475  8899      Hl.m. Praha         1994-09-05 weekly
4476  8931      Vyskov              1996-01-01 weekly
4477  9006      Teplice             1994-09-02 weekly
4478  9051      Kolin               1996-01-17 weekly
4479  9403      Hl.m. Praha         1993-03-27 weekly
4480  9472      Hl.m. Praha         1993-07-06 weekly
4481  9491      Melnik              1996-08-08 weekly
4482  9583      Tachov              1994-05-22 weekly
4483  9646      Hl.m. Praha         1996-07-30 weekly
4484  9814      Zlin                1995-01-19 weekly
4485 10063      Kladno              1996-10-13 weekly
4486 10093      Hl.m. Praha         1994-07-01 weekly
4487 10478      Karvina             1996-02-24 weekly
4488 10694      Opava               1996-05-15 weekly
4489 10738      Jicin               1993-04-17 weekly
4490 10788      Bruntal             1993-11-22 weekly
4491 10911      Hl.m. Praha         1993-05-29 weekly
4492 10915      Klatovy             1997-02-15 weekly
4493 10942      Chrudim             1994-06-05 weekly
4494 10973      Pisek               1993-04-20 weekly
4495 11013      Hl.m. Praha         1993-02-14 weekly
4496 11027      Ceska Lipa          1996-07-26 weekly
4497 11054      Kromeriz            1996-02-01 weekly
4498 11138      Karvina             1995-08-18 weekly
4499 11141      Hl.m. Praha         1997-02-11 weekly
4500 11349      Hl.m. Praha         1995-05-26 weekly

In [341]:
# LOAD THE LINKS DATA FOR NUM_CUSTOMERS COLUMN
link_df <- read.csv("../data/links.csv")
temp <- data.frame(table(link_df$account_id))
names(temp) <- c("account_id", "num_customers")
df <- merge(df, temp, by.x = "account_id", by.y = "account_id", all.x = TRUE)
df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1

In [342]:
# CREDIT CARDS
card_df <- read.csv("../data/cards.csv")

temp <- merge(link_df, card_df, by.x = "id", by.y = "link_id", all.x = TRUE)

temp <- aggregate(id.y ~ account_id, data = temp, FUN = length)
names(temp) <- c("account_id", "credit_cards")

df <- left_join(df, temp, by = "account_id")

In [343]:
df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards
1    NA
2    NA
3    NA
4    NA
5    NA
6    NA
7     1
8    NA
9    NA
10   NA
11   NA
12   NA
13   NA
14    1
15   NA
16   NA
17   NA
18   NA
19   NA
20   NA
21   NA
22   NA
23   NA
24   NA
25   NA
26   NA
27   NA
28   NA
29   NA
30   NA
...  ...
4471 NA
4472 NA
4473  1
4474 NA
4475 NA
4476 NA
4477 NA
4478  1
4479 NA
4480 NA
4481 NA
4482 NA
4483  1
4484  1
4485  1
4486 NA
4487 NA
4488 NA
4489 NA
4490 NA
4491 NA
4492 NA
4493 NA
4494 NA
4495 NA
4496 NA
4497 NA
4498  1
4499 NA
4500 NA

In [344]:
# LOAN
loan_df <- read.csv("./loans_r.csv")
df <- merge(df, loan_df, by = "account_id", all.x = TRUE)
df$loan <- ifelse(!is.na(df$loan_id), "True", "False")
df <- df[, !(names(df) %in% c("loan_id"))]
df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       amount payments terms status loan
1    NA           NA            NA    NA     NA    NA     False
2    NA           1994-01-05 80952  3373     24    A      True
3    NA           NA            NA    NA     NA    NA     False
4    NA           NA            NA    NA     NA    NA     False
5    NA           NA            NA    NA     NA    NA     False
6    NA           NA            NA    NA     NA    NA     False
7     1           NA            NA    NA     NA    NA     False
8    NA           NA            NA    NA     NA    NA     False
9    NA           NA            NA    NA     NA    NA     False
10   NA           NA            NA    NA     NA    NA     False
11   NA           NA            NA    NA     NA    NA     False
12   NA           NA            NA    NA     NA    NA     False
13   NA           NA            NA    NA     NA    NA     False
14    1           NA            NA    NA     NA    NA     False
15   NA           NA            NA    NA     NA    NA     False
16   NA           NA            NA    NA     NA    NA     False
17   NA           NA            NA    NA     NA    NA     False
18   NA           NA            NA    NA     NA    NA     False
19   NA           1996-04-29 30276  2523     12    B      True
20   NA           NA            NA    NA     NA    NA     False
21   NA           NA            NA    NA     NA    NA     False
22   NA           NA            NA    NA     NA    NA     False
23   NA           NA            NA    NA     NA    NA     False
24   NA           NA            NA    NA     NA    NA     False
25   NA           1997-12-08 30276  2523     12    A      True
26   NA           NA            NA    NA     NA    NA     False
27   NA           NA            NA    NA     NA    NA     False
28   NA           NA            NA    NA     NA    NA     False
29   NA           NA            NA    NA     NA    NA     False
30   NA           NA            NA    NA     NA    NA     False
...  ...          ...        ...    ...      ...   ...    ...
4471 NA           1995-03-04 168984 7041     24    B      True
4472 NA           1997-10-23  48096 2004     24    C      True
4473  1           1995-12-04 217152 6032     36    A      True
4474 NA           NA             NA   NA     NA    NA     False
4475 NA           1996-08-20 148920 2482     60    C      True
4476 NA           1994-06-12  69360 1445     48    A      True
4477 NA           1997-03-04 119136 2482     48    C      True
4478  1           1997-04-26  98304 8192     12    A      True
4479 NA           1997-06-09 213300 3555     60    C      True
4480 NA           1994-01-31 108144 3004     36    A      True
4481 NA           NA             NA   NA     NA    NA     False
4482 NA           1994-03-01 182628 5073     36    A      True
4483  1           1996-01-19  89880 3745     24    A      True
4484  1           1997-10-07  44940 3745     12    A      True
4485  1           1996-10-02 392460 6541     60    C      True
4486 NA           1997-10-24  89280 7440     12    A      True
4487 NA           1997-12-11 155760 6490     24    C      True
4488 NA           1993-09-15  52788 4399     12    A      True
4489 NA           1997-01-31  67320 1870     36    C      True
4490 NA           NA             NA   NA     NA    NA     False
4491 NA           1998-11-22 317460 5291     60    C      True
4492 NA           NA             NA   NA     NA    NA     False
4493 NA           NA             NA   NA     NA    NA     False
4494 NA           1998-09-27  39168 1632     24    C      True
4495 NA           1998-07-18 280440 4674     60    C      True
4496 NA           NA             NA   NA     NA    NA     False
4497 NA           1995-10-29 419880 6998     60    C      True
4498  1           1996-08-06  54024 4502     12    A      True
4499 NA           1996-12-27 129408 5392     24    A      True
4500 NA           NA             NA   NA     NA    NA     False

In [345]:
# LOAN_AMOUNT
df <- df %>% rename(loan_amount = amount)

# LOAN PAYMENT
df <- df %>% rename(loan_payment = payments)

# LOAN TERM
df <- df %>% rename(loan_term = terms)

# LOAN STATUS
df$loan_status <- ifelse(is.na(df$status), NA,
                         ifelse(df$status %in% c('A', 'B'), 'expired', 'current'))

# LOAN_DEFAULT:
df$loan_default <- ifelse(is.na(df$status), NA,
                          ifelse(df$status %in% c('B', 'D'), 'True', 'False'))

df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       loan_amount loan_payment loan_term status loan
1    NA           NA            NA         NA         NA        NA     False
2    NA           1994-01-05 80952       3373         24        A      True
3    NA           NA            NA         NA         NA        NA     False
4    NA           NA            NA         NA         NA        NA     False
5    NA           NA            NA         NA         NA        NA     False
6    NA           NA            NA         NA         NA        NA     False
7     1           NA            NA         NA         NA        NA     False
8    NA           NA            NA         NA         NA        NA     False
9    NA           NA            NA         NA         NA        NA     False
10   NA           NA            NA         NA         NA        NA     False
11   NA           NA            NA         NA         NA        NA     False
12   NA           NA            NA         NA         NA        NA     False
13   NA           NA            NA         NA         NA        NA     False
14    1           NA            NA         NA         NA        NA     False
15   NA           NA            NA         NA         NA        NA     False
16   NA           NA            NA         NA         NA        NA     False
17   NA           NA            NA         NA         NA        NA     False
18   NA           NA            NA         NA         NA        NA     False
19   NA           1996-04-29 30276       2523         12        B      True
20   NA           NA            NA         NA         NA        NA     False
21   NA           NA            NA         NA         NA        NA     False
22   NA           NA            NA         NA         NA        NA     False
23   NA           NA            NA         NA         NA        NA     False
24   NA           NA            NA         NA         NA        NA     False
25   NA           1997-12-08 30276       2523         12        A      True
26   NA           NA            NA         NA         NA        NA     False
27   NA           NA            NA         NA         NA        NA     False
28   NA           NA            NA         NA         NA        NA     False
29   NA           NA            NA         NA         NA        NA     False
30   NA           NA            NA         NA         NA        NA     False
...  ...          ...        ...         ...          ...       ...    ...
4471 NA           1995-03-04 168984      7041         24        B      True
4472 NA           1997-10-23  48096      2004         24        C      True
4473  1           1995-12-04 217152      6032         36        A      True
4474 NA           NA             NA        NA         NA        NA     False
4475 NA           1996-08-20 148920      2482         60        C      True
4476 NA           1994-06-12  69360      1445         48        A      True
4477 NA           1997-03-04 119136      2482         48        C      True
4478  1           1997-04-26  98304      8192         12        A      True
4479 NA           1997-06-09 213300      3555         60        C      True
4480 NA           1994-01-31 108144      3004         36        A      True
4481 NA           NA             NA        NA         NA        NA     False
4482 NA           1994-03-01 182628      5073         36        A      True
4483  1           1996-01-19  89880      3745         24        A      True
4484  1           1997-10-07  44940      3745         12        A      True
4485  1           1996-10-02 392460      6541         60        C      True
4486 NA           1997-10-24  89280      7440         12        A      True
4487 NA           1997-12-11 155760      6490         24        C      True
4488 NA           1993-09-15  52788      4399         12        A      True
4489 NA           1997-01-31  67320      1870         36        C      True
4490 NA           NA             NA        NA         NA        NA     False
4491 NA           1998-11-22 317460      5291         60        C      True
4492 NA           NA             NA        NA         NA        NA     False
4493 NA           NA             NA        NA         NA        NA     False
4494 NA           1998-09-27  39168      1632         24        C      True
4495 NA           1998-07-18 280440      4674         60        C      True
4496 NA           NA             NA        NA         NA        NA     False
4497 NA           1995-10-29 419880      6998         60        C      True
4498  1           1996-08-06  54024      4502         12        A      True
4499 NA           1996-12-27 129408      5392         24        A      True
4500 NA           NA             NA        NA         NA        NA     False
     loan_status loan_default
1    NA          NA
2    expired     False
3    NA          NA
4    NA          NA
5    NA          NA
6    NA          NA
7    NA          NA
8    NA          NA
9    NA          NA
10   NA          NA
11   NA          NA
12   NA          NA
13   NA          NA
14   NA          NA
15   NA          NA
16   NA          NA
17   NA          NA
18   NA          NA
19   expired     True
20   NA          NA
21   NA          NA
22   NA          NA
23   NA          NA
24   NA          NA
25   expired     False
26   NA          NA
27   NA          NA
28   NA          NA
29   NA          NA
30   NA          NA
...  ...         ...
4471 expired     True
4472 current     False
4473 expired     False
4474 NA          NA
4475 current     False
4476 expired     False
4477 current     False
4478 expired     False
4479 current     False
4480 expired     False
4481 NA          NA
4482 expired     False
4483 expired     False
4484 expired     False
4485 current     False
4486 expired     False
4487 current     False
4488 expired     False
4489 current     False
4490 NA          NA
4491 current     False
4492 NA          NA
4493 NA          NA
4494 current     False
4495 current     False
4496 NA          NA
4497 current     False
4498 expired     False
4499 expired     False
4500 NA          NA

In [346]:
# MAX WITHDRAWAL
trans_df <- read.csv("../data/transactions.csv")

max_withdrawal <- aggregate(trans_df$amount[trans_df$type == 'debit'],
                            by=list(account_id=trans_df$account_id[trans_df$type == 'debit']),
                            FUN=max)

colnames(max_withdrawal) <- c("account_id", "max_withdrawal")
df <- merge(df, max_withdrawal, by="account_id", all.x=TRUE)

df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       loan_amount loan_payment loan_term status loan
1    NA           NA            NA         NA         NA        NA     False
2    NA           1994-01-05 80952       3373         24        A      True
3    NA           NA            NA         NA         NA        NA     False
4    NA           NA            NA         NA         NA        NA     False
5    NA           NA            NA         NA         NA        NA     False
6    NA           NA            NA         NA         NA        NA     False
7     1           NA            NA         NA         NA        NA     False
8    NA           NA            NA         NA         NA        NA     False
9    NA           NA            NA         NA         NA        NA     False
10   NA           NA            NA         NA         NA        NA     False
11   NA           NA            NA         NA         NA        NA     False
12   NA           NA            NA         NA         NA        NA     False
13   NA           NA            NA         NA         NA        NA     False
14    1           NA            NA         NA         NA        NA     False
15   NA           NA            NA         NA         NA        NA     False
16   NA           NA            NA         NA         NA        NA     False
17   NA           NA            NA         NA         NA        NA     False
18   NA           NA            NA         NA         NA        NA     False
19   NA           1996-04-29 30276       2523         12        B      True
20   NA           NA            NA         NA         NA        NA     False
21   NA           NA            NA         NA         NA        NA     False
22   NA           NA            NA         NA         NA        NA     False
23   NA           NA            NA         NA         NA        NA     False
24   NA           NA            NA         NA         NA        NA     False
25   NA           1997-12-08 30276       2523         12        A      True
26   NA           NA            NA         NA         NA        NA     False
27   NA           NA            NA         NA         NA        NA     False
28   NA           NA            NA         NA         NA        NA     False
29   NA           NA            NA         NA         NA        NA     False
30   NA           NA            NA         NA         NA        NA     False
...  ...          ...        ...         ...          ...       ...    ...
4471 NA           1995-03-04 168984      7041         24        B      True
4472 NA           1997-10-23  48096      2004         24        C      True
4473  1           1995-12-04 217152      6032         36        A      True
4474 NA           NA             NA        NA         NA        NA     False
4475 NA           1996-08-20 148920      2482         60        C      True
4476 NA           1994-06-12  69360      1445         48        A      True
4477 NA           1997-03-04 119136      2482         48        C      True
4478  1           1997-04-26  98304      8192         12        A      True
4479 NA           1997-06-09 213300      3555         60        C      True
4480 NA           1994-01-31 108144      3004         36        A      True
4481 NA           NA             NA        NA         NA        NA     False
4482 NA           1994-03-01 182628      5073         36        A      True
4483  1           1996-01-19  89880      3745         24        A      True
4484  1           1997-10-07  44940      3745         12        A      True
4485  1           1996-10-02 392460      6541         60        C      True
4486 NA           1997-10-24  89280      7440         12        A      True
4487 NA           1997-12-11 155760      6490         24        C      True
4488 NA           1993-09-15  52788      4399         12        A      True
4489 NA           1997-01-31  67320      1870         36        C      True
4490 NA           NA             NA        NA         NA        NA     False
4491 NA           1998-11-22 317460      5291         60        C      True
4492 NA           NA             NA        NA         NA        NA     False
4493 NA           NA             NA        NA         NA        NA     False
4494 NA           1998-09-27  39168      1632         24        C      True
4495 NA           1998-07-18 280440      4674         60        C      True
4496 NA           NA             NA        NA         NA        NA     False
4497 NA           1995-10-29 419880      6998         60        C      True
4498  1           1996-08-06  54024      4502         12        A      True
4499 NA           1996-12-27 129408      5392         24        A      True
4500 NA           NA             NA        NA         NA        NA     False
     loan_status loan_default max_withdrawal
1    NA          NA            7500
2    expired     False        42000
3    NA          NA            7400
4    NA          NA            5250
5    NA          NA            5100
6    NA          NA           11600
7    NA          NA           25800
8    NA          NA           40800
9    NA          NA           38100
10   NA          NA           23840
11   NA          NA            6700
12   NA          NA           11000
13   NA          NA            7500
14   NA          NA           17200
15   NA          NA           46720
16   NA          NA           26300
17   NA          NA           25500
18   NA          NA           70200
19   expired     True         18500
20   NA          NA            4950
21   NA          NA           28000
22   NA          NA           27600
23   NA          NA           40480
24   NA          NA           26800
25   expired     False        63300
26   NA          NA           29100
27   NA          NA            9500
28   NA          NA           18000
29   NA          NA           75600
30   NA          NA           61700
...  ...         ...          ...
4471 expired     True         55200
4472 current     False        20320
4473 expired     False        34200
4474 NA          NA           63600
4475 current     False        22780
4476 expired     False        18600
4477 current     False        63100
4478 expired     False        64100
4479 current     False        41280
4480 expired     False        60600
4481 NA          NA           37800
4482 expired     False        20300
4483 expired     False        64200
4484 expired     False        78600
4485 current     False        56300
4486 expired     False        50900
4487 current     False        47600
4488 expired     False        17920
4489 current     False        13200
4490 NA          NA           47200
4491 current     False        61700
4492 NA          NA           33440
4493 NA          NA           47700
4494 current     False        23600
4495 current     False        61000
4496 NA          NA           62800
4497 current     False        64800
4498 expired     False        30100
4499 expired     False        16100
4500 NA          NA           52800

In [347]:
# MIN WITHDRAWAL
min_withdrawal <- aggregate(trans_df$amount[trans_df$type == 'debit'],
                            by=list(account_id=trans_df$account_id[trans_df$type == 'debit']),
                            FUN=min)

colnames(min_withdrawal) <- c("account_id", "min_withdrawal")
df <- merge(df, min_withdrawal, by="account_id", all.x=TRUE)

df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       loan_amount loan_payment loan_term status loan
1    NA           NA            NA         NA         NA        NA     False
2    NA           1994-01-05 80952       3373         24        A      True
3    NA           NA            NA         NA         NA        NA     False
4    NA           NA            NA         NA         NA        NA     False
5    NA           NA            NA         NA         NA        NA     False
6    NA           NA            NA         NA         NA        NA     False
7     1           NA            NA         NA         NA        NA     False
8    NA           NA            NA         NA         NA        NA     False
9    NA           NA            NA         NA         NA        NA     False
10   NA           NA            NA         NA         NA        NA     False
11   NA           NA            NA         NA         NA        NA     False
12   NA           NA            NA         NA         NA        NA     False
13   NA           NA            NA         NA         NA        NA     False
14    1           NA            NA         NA         NA        NA     False
15   NA           NA            NA         NA         NA        NA     False
16   NA           NA            NA         NA         NA        NA     False
17   NA           NA            NA         NA         NA        NA     False
18   NA           NA            NA         NA         NA        NA     False
19   NA           1996-04-29 30276       2523         12        B      True
20   NA           NA            NA         NA         NA        NA     False
21   NA           NA            NA         NA         NA        NA     False
22   NA           NA            NA         NA         NA        NA     False
23   NA           NA            NA         NA         NA        NA     False
24   NA           NA            NA         NA         NA        NA     False
25   NA           1997-12-08 30276       2523         12        A      True
26   NA           NA            NA         NA         NA        NA     False
27   NA           NA            NA         NA         NA        NA     False
28   NA           NA            NA         NA         NA        NA     False
29   NA           NA            NA         NA         NA        NA     False
30   NA           NA            NA         NA         NA        NA     False
...  ...          ...        ...         ...          ...       ...    ...
4471 NA           1995-03-04 168984      7041         24        B      True
4472 NA           1997-10-23  48096      2004         24        C      True
4473  1           1995-12-04 217152      6032         36        A      True
4474 NA           NA             NA        NA         NA        NA     False
4475 NA           1996-08-20 148920      2482         60        C      True
4476 NA           1994-06-12  69360      1445         48        A      True
4477 NA           1997-03-04 119136      2482         48        C      True
4478  1           1997-04-26  98304      8192         12        A      True
4479 NA           1997-06-09 213300      3555         60        C      True
4480 NA           1994-01-31 108144      3004         36        A      True
4481 NA           NA             NA        NA         NA        NA     False
4482 NA           1994-03-01 182628      5073         36        A      True
4483  1           1996-01-19  89880      3745         24        A      True
4484  1           1997-10-07  44940      3745         12        A      True
4485  1           1996-10-02 392460      6541         60        C      True
4486 NA           1997-10-24  89280      7440         12        A      True
4487 NA           1997-12-11 155760      6490         24        C      True
4488 NA           1993-09-15  52788      4399         12        A      True
4489 NA           1997-01-31  67320      1870         36        C      True
4490 NA           NA             NA        NA         NA        NA     False
4491 NA           1998-11-22 317460      5291         60        C      True
4492 NA           NA             NA        NA         NA        NA     False
4493 NA           NA             NA        NA         NA        NA     False
4494 NA           1998-09-27  39168      1632         24        C      True
4495 NA           1998-07-18 280440      4674         60        C      True
4496 NA           NA             NA        NA         NA        NA     False
4497 NA           1995-10-29 419880      6998         60        C      True
4498  1           1996-08-06  54024      4502         12        A      True
4499 NA           1996-12-27 129408      5392         24        A      True
4500 NA           NA             NA        NA         NA        NA     False
     loan_status loan_default max_withdrawal min_withdrawal
1    NA          NA            7500          15
2    expired     False        42000          15
3    NA          NA            7400          15
4    NA          NA            5250          15
5    NA          NA            5100          15
6    NA          NA           11600          15
7    NA          NA           25800          15
8    NA          NA           40800          15
9    NA          NA           38100          15
10   NA          NA           23840          15
11   NA          NA            6700          15
12   NA          NA           11000          15
13   NA          NA            7500          15
14   NA          NA           17200          15
15   NA          NA           46720          15
16   NA          NA           26300          15
17   NA          NA           25500          15
18   NA          NA           70200          30
19   expired     True         18500           1
20   NA          NA            4950          15
21   NA          NA           28000          15
22   NA          NA           27600          15
23   NA          NA           40480          15
24   NA          NA           26800          15
25   expired     False        63300          15
26   NA          NA           29100          15
27   NA          NA            9500          15
28   NA          NA           18000           8
29   NA          NA           75600          15
30   NA          NA           61700          15
...  ...         ...          ...            ...
4471 expired     True         55200           3
4472 current     False        20320          30
4473 expired     False        34200          15
4474 NA          NA           63600          15
4475 current     False        22780          30
4476 expired     False        18600          15
4477 current     False        63100          15
4478 expired     False        64100          15
4479 current     False        41280          15
4480 expired     False        60600          15
4481 NA          NA           37800           3
4482 expired     False        20300          15
4483 expired     False        64200          30
4484 expired     False        78600          30
4485 current     False        56300          15
4486 expired     False        50900          15
4487 current     False        47600          15
4488 expired     False        17920          15
4489 current     False        13200          15
4490 NA          NA           47200           2
4491 current     False        61700          15
4492 NA          NA           33440           1
4493 NA          NA           47700           1
4494 current     False        23600          15
4495 current     False        61000          15
4496 NA          NA           62800           0
4497 current     False        64800          30
4498 expired     False        30100          15
4499 expired     False        16100          15
4500 NA          NA           52800           1

In [348]:
## CC payments
temp <- trans_df[trans_df$type == 'debit' & trans_df$method == 'credit card', ]
cc_payments <- aggregate(temp$amount, by=list(account_id=temp$account_id), FUN=length)
colnames(cc_payments) <- c("account_id", "cc_payments")

df <- merge(df, cc_payments, by="account_id", all.x=TRUE)

df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       loan_amount loan_payment loan_term status loan
1    NA           NA            NA         NA         NA        NA     False
2    NA           1994-01-05 80952       3373         24        A      True
3    NA           NA            NA         NA         NA        NA     False
4    NA           NA            NA         NA         NA        NA     False
5    NA           NA            NA         NA         NA        NA     False
6    NA           NA            NA         NA         NA        NA     False
7     1           NA            NA         NA         NA        NA     False
8    NA           NA            NA         NA         NA        NA     False
9    NA           NA            NA         NA         NA        NA     False
10   NA           NA            NA         NA         NA        NA     False
11   NA           NA            NA         NA         NA        NA     False
12   NA           NA            NA         NA         NA        NA     False
13   NA           NA            NA         NA         NA        NA     False
14    1           NA            NA         NA         NA        NA     False
15   NA           NA            NA         NA         NA        NA     False
16   NA           NA            NA         NA         NA        NA     False
17   NA           NA            NA         NA         NA        NA     False
18   NA           NA            NA         NA         NA        NA     False
19   NA           1996-04-29 30276       2523         12        B      True
20   NA           NA            NA         NA         NA        NA     False
21   NA           NA            NA         NA         NA        NA     False
22   NA           NA            NA         NA         NA        NA     False
23   NA           NA            NA         NA         NA        NA     False
24   NA           NA            NA         NA         NA        NA     False
25   NA           1997-12-08 30276       2523         12        A      True
26   NA           NA            NA         NA         NA        NA     False
27   NA           NA            NA         NA         NA        NA     False
28   NA           NA            NA         NA         NA        NA     False
29   NA           NA            NA         NA         NA        NA     False
30   NA           NA            NA         NA         NA        NA     False
...  ...          ...        ...         ...          ...       ...    ...
4471 NA           1995-03-04 168984      7041         24        B      True
4472 NA           1997-10-23  48096      2004         24        C      True
4473  1           1995-12-04 217152      6032         36        A      True
4474 NA           NA             NA        NA         NA        NA     False
4475 NA           1996-08-20 148920      2482         60        C      True
4476 NA           1994-06-12  69360      1445         48        A      True
4477 NA           1997-03-04 119136      2482         48        C      True
4478  1           1997-04-26  98304      8192         12        A      True
4479 NA           1997-06-09 213300      3555         60        C      True
4480 NA           1994-01-31 108144      3004         36        A      True
4481 NA           NA             NA        NA         NA        NA     False
4482 NA           1994-03-01 182628      5073         36        A      True
4483  1           1996-01-19  89880      3745         24        A      True
4484  1           1997-10-07  44940      3745         12        A      True
4485  1           1996-10-02 392460      6541         60        C      True
4486 NA           1997-10-24  89280      7440         12        A      True
4487 NA           1997-12-11 155760      6490         24        C      True
4488 NA           1993-09-15  52788      4399         12        A      True
4489 NA           1997-01-31  67320      1870         36        C      True
4490 NA           NA             NA        NA         NA        NA     False
4491 NA           1998-11-22 317460      5291         60        C      True
4492 NA           NA             NA        NA         NA        NA     False
4493 NA           NA             NA        NA         NA        NA     False
4494 NA           1998-09-27  39168      1632         24        C      True
4495 NA           1998-07-18 280440      4674         60        C      True
4496 NA           NA             NA        NA         NA        NA     False
4497 NA           1995-10-29 419880      6998         60        C      True
4498  1           1996-08-06  54024      4502         12        A      True
4499 NA           1996-12-27 129408      5392         24        A      True
4500 NA           NA             NA        NA         NA        NA     False
     loan_status loan_default max_withdrawal min_withdrawal cc_payments
1    NA          NA            7500          15             NA
2    expired     False        42000          15             NA
3    NA          NA            7400          15             NA
4    NA          NA            5250          15             NA
5    NA          NA            5100          15             NA
6    NA          NA           11600          15             NA
7    NA          NA           25800          15              1
8    NA          NA           40800          15             NA
9    NA          NA           38100          15             NA
10   NA          NA           23840          15             NA
11   NA          NA            6700          15             NA
12   NA          NA           11000          15             NA
13   NA          NA            7500          15             NA
14   NA          NA           17200          15              6
15   NA          NA           46720          15             NA
16   NA          NA           26300          15             NA
17   NA          NA           25500          15             NA
18   NA          NA           70200          30             NA
19   expired     True         18500           1             NA
20   NA          NA            4950          15             NA
21   NA          NA           28000          15             NA
22   NA          NA           27600          15             NA
23   NA          NA           40480          15             NA
24   NA          NA           26800          15             NA
25   expired     False        63300          15             NA
26   NA          NA           29100          15             NA
27   NA          NA            9500          15             NA
28   NA          NA           18000           8             NA
29   NA          NA           75600          15             NA
30   NA          NA           61700          15             NA
...  ...         ...          ...            ...            ...
4471 expired     True         55200           3             NA
4472 current     False        20320          30             NA
4473 expired     False        34200          15             11
4474 NA          NA           63600          15             NA
4475 current     False        22780          30             NA
4476 expired     False        18600          15             NA
4477 current     False        63100          15             NA
4478 expired     False        64100          15              4
4479 current     False        41280          15             NA
4480 expired     False        60600          15             NA
4481 NA          NA           37800           3             NA
4482 expired     False        20300          15             NA
4483 expired     False        64200          30              8
4484 expired     False        78600          30              5
4485 current     False        56300          15              2
4486 expired     False        50900          15             NA
4487 current     False        47600          15             NA
4488 expired     False        17920          15             NA
4489 current     False        13200          15             NA
4490 NA          NA           47200           2             NA
4491 current     False        61700          15             NA
4492 NA          NA           33440           1             NA
4493 NA          NA           47700           1             NA
4494 current     False        23600          15             NA
4495 current     False        61000          15             NA
4496 NA          NA           62800           0             NA
4497 current     False        64800          30             NA
4498 expired     False        30100          15             22
4499 expired     False        16100          15             NA
4500 NA          NA           52800           1             NA

In [349]:
# MAX BALANCE
temp <- aggregate(balance ~ account_id, data = trans_df, FUN = max)
max_bal <- data.frame(account_id = temp$account_id, max_balance = temp$balance)
df <- merge(df, max_bal, by = 'account_id', all.x = TRUE)
names(df)[names(df) == 'balance'] <- 'max_balance'
df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       loan_amount loan_payment loan_term status loan
1    NA           NA            NA         NA         NA        NA     False
2    NA           1994-01-05 80952       3373         24        A      True
3    NA           NA            NA         NA         NA        NA     False
4    NA           NA            NA         NA         NA        NA     False
5    NA           NA            NA         NA         NA        NA     False
6    NA           NA            NA         NA         NA        NA     False
7     1           NA            NA         NA         NA        NA     False
8    NA           NA            NA         NA         NA        NA     False
9    NA           NA            NA         NA         NA        NA     False
10   NA           NA            NA         NA         NA        NA     False
11   NA           NA            NA         NA         NA        NA     False
12   NA           NA            NA         NA         NA        NA     False
13   NA           NA            NA         NA         NA        NA     False
14    1           NA            NA         NA         NA        NA     False
15   NA           NA            NA         NA         NA        NA     False
16   NA           NA            NA         NA         NA        NA     False
17   NA           NA            NA         NA         NA        NA     False
18   NA           NA            NA         NA         NA        NA     False
19   NA           1996-04-29 30276       2523         12        B      True
20   NA           NA            NA         NA         NA        NA     False
21   NA           NA            NA         NA         NA        NA     False
22   NA           NA            NA         NA         NA        NA     False
23   NA           NA            NA         NA         NA        NA     False
24   NA           NA            NA         NA         NA        NA     False
25   NA           1997-12-08 30276       2523         12        A      True
26   NA           NA            NA         NA         NA        NA     False
27   NA           NA            NA         NA         NA        NA     False
28   NA           NA            NA         NA         NA        NA     False
29   NA           NA            NA         NA         NA        NA     False
30   NA           NA            NA         NA         NA        NA     False
...  ...          ...        ...         ...          ...       ...    ...
4471 NA           1995-03-04 168984      7041         24        B      True
4472 NA           1997-10-23  48096      2004         24        C      True
4473  1           1995-12-04 217152      6032         36        A      True
4474 NA           NA             NA        NA         NA        NA     False
4475 NA           1996-08-20 148920      2482         60        C      True
4476 NA           1994-06-12  69360      1445         48        A      True
4477 NA           1997-03-04 119136      2482         48        C      True
4478  1           1997-04-26  98304      8192         12        A      True
4479 NA           1997-06-09 213300      3555         60        C      True
4480 NA           1994-01-31 108144      3004         36        A      True
4481 NA           NA             NA        NA         NA        NA     False
4482 NA           1994-03-01 182628      5073         36        A      True
4483  1           1996-01-19  89880      3745         24        A      True
4484  1           1997-10-07  44940      3745         12        A      True
4485  1           1996-10-02 392460      6541         60        C      True
4486 NA           1997-10-24  89280      7440         12        A      True
4487 NA           1997-12-11 155760      6490         24        C      True
4488 NA           1993-09-15  52788      4399         12        A      True
4489 NA           1997-01-31  67320      1870         36        C      True
4490 NA           NA             NA        NA         NA        NA     False
4491 NA           1998-11-22 317460      5291         60        C      True
4492 NA           NA             NA        NA         NA        NA     False
4493 NA           NA             NA        NA         NA        NA     False
4494 NA           1998-09-27  39168      1632         24        C      True
4495 NA           1998-07-18 280440      4674         60        C      True
4496 NA           NA             NA        NA         NA        NA     False
4497 NA           1995-10-29 419880      6998         60        C      True
4498  1           1996-08-06  54024      4502         12        A      True
4499 NA           1996-12-27 129408      5392         24        A      True
4500 NA           NA             NA        NA         NA        NA     False
     loan_status loan_default max_withdrawal min_withdrawal cc_payments
1    NA          NA            7500          15             NA
2    expired     False        42000          15             NA
3    NA          NA            7400          15             NA
4    NA          NA            5250          15             NA
5    NA          NA            5100          15             NA
6    NA          NA           11600          15             NA
7    NA          NA           25800          15              1
8    NA          NA           40800          15             NA
9    NA          NA           38100          15             NA
10   NA          NA           23840          15             NA
11   NA          NA            6700          15             NA
12   NA          NA           11000          15             NA
13   NA          NA            7500          15             NA
14   NA          NA           17200          15              6
15   NA          NA           46720          15             NA
16   NA          NA           26300          15             NA
17   NA          NA           25500          15             NA
18   NA          NA           70200          30             NA
19   expired     True         18500           1             NA
20   NA          NA            4950          15             NA
21   NA          NA           28000          15             NA
22   NA          NA           27600          15             NA
23   NA          NA           40480          15             NA
24   NA          NA           26800          15             NA
25   expired     False        63300          15             NA
26   NA          NA           29100          15             NA
27   NA          NA            9500          15             NA
28   NA          NA           18000           8             NA
29   NA          NA           75600          15             NA
30   NA          NA           61700          15             NA
...  ...         ...          ...            ...            ...
4471 expired     True         55200           3             NA
4472 current     False        20320          30             NA
4473 expired     False        34200          15             11
4474 NA          NA           63600          15             NA
4475 current     False        22780          30             NA
4476 expired     False        18600          15             NA
4477 current     False        63100          15             NA
4478 expired     False        64100          15              4
4479 current     False        41280          15             NA
4480 expired     False        60600          15             NA
4481 NA          NA           37800           3             NA
4482 expired     False        20300          15             NA
4483 expired     False        64200          30              8
4484 expired     False        78600          30              5
4485 current     False        56300          15              2
4486 expired     False        50900          15             NA
4487 current     False        47600          15             NA
4488 expired     False        17920          15             NA
4489 current     False        13200          15             NA
4490 NA          NA           47200           2             NA
4491 current     False        61700          15             NA
4492 NA          NA           33440           1             NA
4493 NA          NA           47700           1             NA
4494 current     False        23600          15             NA
4495 current     False        61000          15             NA
4496 NA          NA           62800           0             NA
4497 current     False        64800          30             NA
4498 expired     False        30100          15             22
4499 expired     False        16100          15             NA
4500 NA          NA           52800           1             NA
     max_balance
1     30415
2     69302
3     53447
4     34870
5     32036
6     51879
7     99675
8     79255
9     85444
10    83410
11    40389
12    29053
13    29751
14    59453
15    66671
16    60274
17   100815
18   155603
19    58158
20    20458
21    61685
22    68160
23    95299
24    49091
25   134210
26    83469
27    40464
28    59950
29   149154
30   137131
...  ...
4471 165293
4472  51010
4473 112781
4474 174213
4475  66825
4476  56736
4477 121370
4478 146540
4479  74941
4480 155582
4481  96982
4482  71488
4483 168372
4484 144498
4485 139173
4486 109530
4487 131320
4488  41469
4489  43949
4490 110998
4491 135890
4492  66264
4493 114709
4494  81496
4495 136153
4496 137043
4497 113679
4498  81706
4499  56056
4500  93550

In [350]:
# MIN BALANCE
temp <- aggregate(balance ~ account_id, data = trans_df, FUN = min)
min_bal <- data.frame(account_id = temp$account_id, min_balance = temp$balance)
df <- merge(df, min_bal, by = 'account_id', all.x = TRUE)
names(df)[names(df) == 'balance'] <- 'min_balance'
df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards date       loan_amount loan_payment loan_term status loan
1    NA           NA            NA         NA         NA        NA     False
2    NA           1994-01-05 80952       3373         24        A      True
3    NA           NA            NA         NA         NA        NA     False
4    NA           NA            NA         NA         NA        NA     False
5    NA           NA            NA         NA         NA        NA     False
6    NA           NA            NA         NA         NA        NA     False
7     1           NA            NA         NA         NA        NA     False
8    NA           NA            NA         NA         NA        NA     False
9    NA           NA            NA         NA         NA        NA     False
10   NA           NA            NA         NA         NA        NA     False
11   NA           NA            NA         NA         NA        NA     False
12   NA           NA            NA         NA         NA        NA     False
13   NA           NA            NA         NA         NA        NA     False
14    1           NA            NA         NA         NA        NA     False
15   NA           NA            NA         NA         NA        NA     False
16   NA           NA            NA         NA         NA        NA     False
17   NA           NA            NA         NA         NA        NA     False
18   NA           NA            NA         NA         NA        NA     False
19   NA           1996-04-29 30276       2523         12        B      True
20   NA           NA            NA         NA         NA        NA     False
21   NA           NA            NA         NA         NA        NA     False
22   NA           NA            NA         NA         NA        NA     False
23   NA           NA            NA         NA         NA        NA     False
24   NA           NA            NA         NA         NA        NA     False
25   NA           1997-12-08 30276       2523         12        A      True
26   NA           NA            NA         NA         NA        NA     False
27   NA           NA            NA         NA         NA        NA     False
28   NA           NA            NA         NA         NA        NA     False
29   NA           NA            NA         NA         NA        NA     False
30   NA           NA            NA         NA         NA        NA     False
...  ...          ...        ...         ...          ...       ...    ...
4471 NA           1995-03-04 168984      7041         24        B      True
4472 NA           1997-10-23  48096      2004         24        C      True
4473  1           1995-12-04 217152      6032         36        A      True
4474 NA           NA             NA        NA         NA        NA     False
4475 NA           1996-08-20 148920      2482         60        C      True
4476 NA           1994-06-12  69360      1445         48        A      True
4477 NA           1997-03-04 119136      2482         48        C      True
4478  1           1997-04-26  98304      8192         12        A      True
4479 NA           1997-06-09 213300      3555         60        C      True
4480 NA           1994-01-31 108144      3004         36        A      True
4481 NA           NA             NA        NA         NA        NA     False
4482 NA           1994-03-01 182628      5073         36        A      True
4483  1           1996-01-19  89880      3745         24        A      True
4484  1           1997-10-07  44940      3745         12        A      True
4485  1           1996-10-02 392460      6541         60        C      True
4486 NA           1997-10-24  89280      7440         12        A      True
4487 NA           1997-12-11 155760      6490         24        C      True
4488 NA           1993-09-15  52788      4399         12        A      True
4489 NA           1997-01-31  67320      1870         36        C      True
4490 NA           NA             NA        NA         NA        NA     False
4491 NA           1998-11-22 317460      5291         60        C      True
4492 NA           NA             NA        NA         NA        NA     False
4493 NA           NA             NA        NA         NA        NA     False
4494 NA           1998-09-27  39168      1632         24        C      True
4495 NA           1998-07-18 280440      4674         60        C      True
4496 NA           NA             NA        NA         NA        NA     False
4497 NA           1995-10-29 419880      6998         60        C      True
4498  1           1996-08-06  54024      4502         12        A      True
4499 NA           1996-12-27 129408      5392         24        A      True
4500 NA           NA             NA        NA         NA        NA     False
     loan_status loan_default max_withdrawal min_withdrawal cc_payments
1    NA          NA            7500          15             NA
2    expired     False        42000          15             NA
3    NA          NA            7400          15             NA
4    NA          NA            5250          15             NA
5    NA          NA            5100          15             NA
6    NA          NA           11600          15             NA
7    NA          NA           25800          15              1
8    NA          NA           40800          15             NA
9    NA          NA           38100          15             NA
10   NA          NA           23840          15             NA
11   NA          NA            6700          15             NA
12   NA          NA           11000          15             NA
13   NA          NA            7500          15             NA
14   NA          NA           17200          15              6
15   NA          NA           46720          15             NA
16   NA          NA           26300          15             NA
17   NA          NA           25500          15             NA
18   NA          NA           70200          30             NA
19   expired     True         18500           1             NA
20   NA          NA            4950          15             NA
21   NA          NA           28000          15             NA
22   NA          NA           27600          15             NA
23   NA          NA           40480          15             NA
24   NA          NA           26800          15             NA
25   expired     False        63300          15             NA
26   NA          NA           29100          15             NA
27   NA          NA            9500          15             NA
28   NA          NA           18000           8             NA
29   NA          NA           75600          15             NA
30   NA          NA           61700          15             NA
...  ...         ...          ...            ...            ...
4471 expired     True         55200           3             NA
4472 current     False        20320          30             NA
4473 expired     False        34200          15             11
4474 NA          NA           63600          15             NA
4475 current     False        22780          30             NA
4476 expired     False        18600          15             NA
4477 current     False        63100          15             NA
4478 expired     False        64100          15              4
4479 current     False        41280          15             NA
4480 expired     False        60600          15             NA
4481 NA          NA           37800           3             NA
4482 expired     False        20300          15             NA
4483 expired     False        64200          30              8
4484 expired     False        78600          30              5
4485 current     False        56300          15              2
4486 expired     False        50900          15             NA
4487 current     False        47600          15             NA
4488 expired     False        17920          15             NA
4489 current     False        13200          15             NA
4490 NA          NA           47200           2             NA
4491 current     False        61700          15             NA
4492 NA          NA           33440           1             NA
4493 NA          NA           47700           1             NA
4494 current     False        23600          15             NA
4495 current     False        61000          15             NA
4496 NA          NA           62800           0             NA
4497 current     False        64800          30             NA
4498 expired     False        30100          15             22
4499 expired     False        16100          15             NA
4500 NA          NA           52800           1             NA
     max_balance min_balance
1     30415        1000
2     69302        1100
3     53447        1000
4     34870         800
5     32036         600
6     51879         900
7     99675         900
8     79255         900
9     85444         400
10    83410        1100
11    40389         300
12    29053        1100
13    29751        1000
14    59453         400
15    66671         800
16    60274         500
17   100815         700
18   155603         576
19    58158      -10605
20    20458         500
21    61685        1100
22    68160        1100
23    95299         800
24    49091        1000
25   134210         900
26    83469         800
27    40464         900
28    59950         700
29   149154         400
30   137131         800
...  ...         ...
4471 165293       -518
4472  51010        800
4473 112781        400
4474 174213      -1932
4475  66825        400
4476  56736       1100
4477 121370       1100
4478 146540        300
4479  74941        800
4480 155582        900
4481  96982      -1535
4482  71488        500
4483 168372        800
4484 144498        200
4485 139173        900
4486 109530        900
4487 131320        200
4488  41469       1000
4489  43949        200
4490 110998      -1370
4491 135890        700
4492  66264       -428
4493 114709        -86
4494  81496        300
4495 136153       1000
4496 137043      -1291
4497 113679        200
4498  81706       1000
4499  56056       1000
4500  93550      -1037

In [351]:
columns_order <- c('account_id', 'district_name', 'open_date', 'statement_frequency', 'num_customers', 'credit_cards', 'loan', 'loan_amount', 'loan_payment', 'loan_term', 'loan_status', 'loan_default', 'max_withdrawal', 'min_withdrawal', 'cc_payments', 'max_balance', 'min_balance')

df <- df[columns_order]

df

     account_id district_name     open_date  statement_frequency num_customers
1     1         Pisek             1995-03-24 monthly             1
2     2         Hl.m. Praha       1993-02-26 monthly             2
3     3         Kolin             1997-07-07 monthly             2
4     4         Pribram           1996-02-21 monthly             1
5     5         Cesky Krumlov     1997-05-30 monthly             1
6     6         Trutnov           1994-09-27 monthly             1
7     7         Prostejov         1996-11-24 monthly             1
8     8         Hodonin           1995-09-21 monthly             2
9     9         Karvina           1993-01-27 monthly             1
10   10         Brno - mesto      1996-08-28 monthly             1
11   11         Sumperk           1995-10-10 monthly             1
12   12         Tabor             1997-04-15 monthly             2
13   13         Sumperk           1997-08-17 monthly             2
14   14         Pardubice         1996-11-27 monthly             1
15   15         Karvina           1993-10-02 monthly             1
16   16         Pribram           1997-09-23 monthly             1
17   17         Hl.m. Praha       1997-01-08 monthly             2
18   18         Hradec Kralove    1993-05-26 weekly              1
19   19         Tabor             1995-04-07 monthly             1
20   20         Ostrava - mesto   1996-08-24 monthly             1
21   21         Brno - mesto      1997-12-06 monthly             1
22   22         Hl.m. Praha       1994-03-23 monthly             1
23   23         Sokolov           1993-05-22 monthly             1
24   24         Ostrava - mesto   1996-12-05 monthly             1
25   25         Frydek - Mistek   1996-07-28 monthly             1
26   26         Usti nad Orlici   1993-08-08 monthly             1
27   27         Opava             1993-09-26 monthly             1
28   29         Melnik            1994-11-24 monthly             2
29   30         Liberec           1995-03-04 monthly             1
30   31         Frydek - Mistek   1994-04-27 monthly             1
...  ...        ...               ...        ...                 ...
4471 11021      Hl.m. Praha       1993-08-10 monthly             1
4472 11027      Ceska Lipa        1996-07-26 weekly              1
4473 11042      Olomouc           1995-01-29 monthly             1
4474 11053      Nachod            1997-05-27 monthly             1
4475 11054      Kromeriz          1996-02-01 weekly              1
4476 11065      Praha - zapad     1993-03-19 monthly             1
4477 11069      Litomerice        1995-06-02 monthly             1
4478 11079      Jindrichuv Hradec 1995-11-10 monthly             1
4479 11096      Plzen - sever     1996-12-10 monthly             1
4480 11111      Hl.m. Praha       1993-05-20 monthly             2
4481 11123      Most              1996-07-21 monthly             1
4482 11135      Prerov            1993-10-10 monthly             1
4483 11138      Karvina           1995-08-18 weekly              1
4484 11141      Hl.m. Praha       1997-02-11 weekly              1
4485 11186      Pribram           1994-11-24 monthly             2
4486 11231      Hl.m. Praha       1997-02-05 monthly             1
4487 11244      Decin             1997-01-12 monthly             1
4488 11265      Cesky Krumlov     1993-01-14 monthly             1
4489 11271      Kolin             1995-09-20 monthly             1
4490 11295      Ostrava - mesto   1993-01-21 monthly             1
4491 11317      Svitavy           1997-07-11 monthly             1
4492 11320      Chrudim           1993-05-26 monthly             1
4493 11325      Uherske Hradiste  1996-10-15 monthly             1
4494 11327      Melnik            1997-10-15 monthly             1
4495 11328      Brno - mesto      1996-11-05 monthly             1
4496 11333      Mlada Boleslav    1994-05-26 monthly             1
4497 11349      Hl.m. Praha       1995-05-26 weekly              2
4498 11359      Trebic            1994-10-01 monthly             1
4499 11362      Bruntal           1995-10-14 monthly             1
4500 11382      Ostrava - mesto   1995-08-20 monthly             1
     credit_cards loan  loan_amount loan_payment loan_term loan_status
1    NA           False    NA         NA         NA        NA
2    NA           True  80952       3373         24        expired
3    NA           False    NA         NA         NA        NA
4    NA           False    NA         NA         NA        NA
5    NA           False    NA         NA         NA        NA
6    NA           False    NA         NA         NA        NA
7     1           False    NA         NA         NA        NA
8    NA           False    NA         NA         NA        NA
9    NA           False    NA         NA         NA        NA
10   NA           False    NA         NA         NA        NA
11   NA           False    NA         NA         NA        NA
12   NA           False    NA         NA         NA        NA
13   NA           False    NA         NA         NA        NA
14    1           False    NA         NA         NA        NA
15   NA           False    NA         NA         NA        NA
16   NA           False    NA         NA         NA        NA
17   NA           False    NA         NA         NA        NA
18   NA           False    NA         NA         NA        NA
19   NA           True  30276       2523         12        expired
20   NA           False    NA         NA         NA        NA
21   NA           False    NA         NA         NA        NA
22   NA           False    NA         NA         NA        NA
23   NA           False    NA         NA         NA        NA
24   NA           False    NA         NA         NA        NA
25   NA           True  30276       2523         12        expired
26   NA           False    NA         NA         NA        NA
27   NA           False    NA         NA         NA        NA
28   NA           False    NA         NA         NA        NA
29   NA           False    NA         NA         NA        NA
30   NA           False    NA         NA         NA        NA
...  ...          ...   ...         ...          ...       ...
4471 NA           True  168984      7041         24        expired
4472 NA           True   48096      2004         24        current
4473  1           True  217152      6032         36        expired
4474 NA           False     NA        NA         NA        NA
4475 NA           True  148920      2482         60        current
4476 NA           True   69360      1445         48        expired
4477 NA           True  119136      2482         48        current
4478  1           True   98304      8192         12        expired
4479 NA           True  213300      3555         60        current
4480 NA           True  108144      3004         36        expired
4481 NA           False     NA        NA         NA        NA
4482 NA           True  182628      5073         36        expired
4483  1           True   89880      3745         24        expired
4484  1           True   44940      3745         12        expired
4485  1           True  392460      6541         60        current
4486 NA           True   89280      7440         12        expired
4487 NA           True  155760      6490         24        current
4488 NA           True   52788      4399         12        expired
4489 NA           True   67320      1870         36        current
4490 NA           False     NA        NA         NA        NA
4491 NA           True  317460      5291         60        current
4492 NA           False     NA        NA         NA        NA
4493 NA           False     NA        NA         NA        NA
4494 NA           True   39168      1632         24        current
4495 NA           True  280440      4674         60        current
4496 NA           False     NA        NA         NA        NA
4497 NA           True  419880      6998         60        current
4498  1           True   54024      4502         12        expired
4499 NA           True  129408      5392         24        expired
4500 NA           False     NA        NA         NA        NA
     loan_default max_withdrawal min_withdrawal cc_payments max_balance
1    NA            7500          15             NA           30415
2    False        42000          15             NA           69302
3    NA            7400          15             NA           53447
4    NA            5250          15             NA           34870
5    NA            5100          15             NA           32036
6    NA           11600          15             NA           51879
7    NA           25800          15              1           99675
8    NA           40800          15             NA           79255
9    NA           38100          15             NA           85444
10   NA           23840          15             NA           83410
11   NA            6700          15             NA           40389
12   NA           11000          15             NA           29053
13   NA            7500          15             NA           29751
14   NA           17200          15              6           59453
15   NA           46720          15             NA           66671
16   NA           26300          15             NA           60274
17   NA           25500          15             NA          100815
18   NA           70200          30             NA          155603
19   True         18500           1             NA           58158
20   NA            4950          15             NA           20458
21   NA           28000          15             NA           61685
22   NA           27600          15             NA           68160
23   NA           40480          15             NA           95299
24   NA           26800          15             NA           49091
25   False        63300          15             NA          134210
26   NA           29100          15             NA           83469
27   NA            9500          15             NA           40464
28   NA           18000           8             NA           59950
29   NA           75600          15             NA          149154
30   NA           61700          15             NA          137131
...  ...          ...            ...            ...         ...
4471 True         55200           3             NA          165293
4472 False        20320          30             NA           51010
4473 False        34200          15             11          112781
4474 NA           63600          15             NA          174213
4475 False        22780          30             NA           66825
4476 False        18600          15             NA           56736
4477 False        63100          15             NA          121370
4478 False        64100          15              4          146540
4479 False        41280          15             NA           74941
4480 False        60600          15             NA          155582
4481 NA           37800           3             NA           96982
4482 False        20300          15             NA           71488
4483 False        64200          30              8          168372
4484 False        78600          30              5          144498
4485 False        56300          15              2          139173
4486 False        50900          15             NA          109530
4487 False        47600          15             NA          131320
4488 False        17920          15             NA           41469
4489 False        13200          15             NA           43949
4490 NA           47200           2             NA          110998
4491 False        61700          15             NA          135890
4492 NA           33440           1             NA           66264
4493 NA           47700           1             NA          114709
4494 False        23600          15             NA           81496
4495 False        61000          15             NA          136153
4496 NA           62800           0             NA          137043
4497 False        64800          30             NA          113679
4498 False        30100          15             22           81706
4499 False        16100          15             NA           56056
4500 NA           52800           1             NA           93550
     min_balance
1      1000
2      1100
3      1000
4       800
5       600
6       900
7       900
8       900
9       400
10     1100
11      300
12     1100
13     1000
14      400
15      800
16      500
17      700
18      576
19   -10605
20      500
21     1100
22     1100
23      800
24     1000
25      900
26      800
27      900
28      700
29      400
30      800
...  ...
4471  -518
4472   800
4473   400
4474 -1932
4475   400
4476  1100
4477  1100
4478   300
4479   800
4480   900
4481 -1535
4482   500
4483   800
4484   200
4485   900
4486   900
4487   200
4488  1000
4489   200
4490 -1370
4491   700
4492  -428
4493   -86
4494   300
4495  1000
4496 -1291
4497   200
4498  1000
4499  1000
4500 -1037

In [ ]:
write.csv(df, file = "analytics_r.csv", row.names = FALSE, fileEncoding = "UTF-8")