In [1]:
library('tidyverse')

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.3     v readr     2.1.4
v forcats   1.0.0     v stringr   1.5.0
v ggplot2   3.4.2     v tibble    3.2.1
v lubridate 1.9.2     v tidyr     1.3.0
v purrr     1.0.1
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [1]:
library('tidyverse')

# READ THE DATA
df <- read.csv("../data/loans.csv")
head(df)

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.3     v readr     2.1.4
v forcats   1.0.0     v stringr   1.5.0
v ggplot2   3.4.2     v tibble    3.2.1
v lubridate 1.9.2     v tidyr     1.3.0
v purrr     1.0.1
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

  id   account_id date       amount payments X24_A X12_B X12_A X60_D X48_C ...
1 4959  2         1994-01-05  80952 3373     X     -     -     -     -     ...
2 4961 19         1996-04-29  30276 2523     -     X     -     -     -     ...
3 4962 25         1997-12-08  30276 2523     -     -     X     -     -     ...
4 4967 37         1998-10-14 318480 5308     -     -     -     X     -     ...
5 4968 38         1998-04-19 110736 2307     -     -     -     -     X     ...
6 4973 67         1996-05-02 165960 6915     X     -     -     -     -     ...
  X60_C X24_B X48_D X24_D X48_B X36_A X36_B X60_B X12_D X60_A
1 -     -     -     -     -     -     -     -     -     -
2 -     -     -     -     -     -     -     -     -     -
3 -     -     -     -     -     -     -     -     -     -
4 -     -     -     -     -     -     -     -     -     -
5 -     -     -     -     -     -     -     -     -     -
6 -     -     -     -     -     -     -     -     -     -